# Binaries and temp files
/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

# Environment files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production
.env.staging
!.env.example

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Go specific
vendor/

# Air temporary files
tmp/ 